<%= form_for @conn, "/fetch", [as: :fetch], fn f -> %>
  <label>Identifiant</label>
  <%= text_input f, :login %>
  <label>Mot de passe</label>
  <%= password_input f, :password %>
  <%= submit "Obtenir" %>
<% end %>
